#page_header{   
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#page_header>nav{
justify-self: end;
}


img{
    width: 20vw;
    height: 40vh;
}

#main_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}